BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
BROWSERSTACK_ANDROID_APP_URL=
BROWSERSTACK_IOS_APP_URL=

ANDROID_APP_ID=com.recordyourcatch.app
ANDROID_UDID=
IOS_BUNDLE_ID=
IOS_DEVICE_NAME=iPhone 16
IOS_PLATFORM_VERSION=18.0
IOS_UDID=
IOS_TEST_EMAIL=
IOS_TEST_PASSWORD=
APPIUM_NO_RESET=false
APPIUM_PORT=4723
