node_modules/

*.tsbuildinfo
dist/

logs/
log/
*.log
npm-debug.log*

apps/*.apk
apps/*.app
apps/*.ipa

app/

allure-results/
allure-report/
screenshots/
errorShots/

.DS_Store
Thumbs.db
Desktop.ini

.idea/
.vscode/
*.swp
*.swo
*~

.env
.env.*
!.env.example

.test-companion/
